# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# local env files
.env
.env*.local
.env.local
.env.development.local
.env.production.local

# local backups / temporary files
*.tmp
*.temp
*.bak
*.swp

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# editor
.vscode/
.idea/

# old HTML prototypes (keep locally, don't push)
analytics_&_simulation_-_refined_desktop/
bulk_member_import_-_desktop/
compliance_command_-_refined_icons/
data_entry_review_-_desktop/
data_ingestion_-_desktop/
detailed_emissions_log/
edit_member_permissions_-_desktop/
executive_dashboard_-_refined_icons/
generated_screen/
manual_data_entry_-_desktop_web_page/
organization_settings/
personalized_recommendations/
policy_intelligence_-_refined_icons/
refined_hero_visualization/
team_management_&_permissions/
tree_engine_-_refined_icons/
user_profile_&_sme_settings/































# # See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# # dependencies
# /node_modules
# /.pnp
# .pnp.js

# # testing
# /coverage

# # next.js
# /.next/
# /out/

# # production
# /build

# # misc
# .DS_Store
# *.pem

# # debug
# npm-debug.log*
# yarn-debug.log*
# yarn-error.log*
# *.log

# # local env files
# .env
# .env*.local
# .env.local
# .env.development.local
# .env.production.local

# # local backups / temporary files
# *.tmp
# *.temp
# *.bak
# *.swp

# # vercel
# .vercel

# # typescript
# *.tsbuildinfo
# next-env.d.ts

# # editor
# .vscode/
# .idea/

# # old HTML prototypes (keep locally, don't push)
# analytics_&_simulation_-_refined_desktop/
# bulk_member_import_-_desktop/
# compliance_command_-_refined_icons/
# data_entry_review_-_desktop/
# data_ingestion_-_desktop/
# detailed_emissions_log/
# edit_member_permissions_-_desktop/
# executive_dashboard_-_refined_icons/
# generated_screen/
# manual_data_entry_-_desktop_web_page/
# organization_settings/
# personalized_recommendations/
# policy_intelligence_-_refined_icons/
# refined_hero_visualization/
# team_management_&_permissions/
# tree_engine_-_refined_icons/
# user_profile_&_sme_settings/
